.text
	| A215 is a company designed to focus on the development of cutting edge technologies which can be applied to common everyday problems. 
	| We stand behind our four pillared foundation that goes into the engineering process of every project we pursue
.about_us_logo
	img(src="/resources/a215_logo.png")
.pillars
	.pillar.creativity.mr
		.heading
			| Creativity
		.content
			| We continually push to develop the next innovation in technology. The only way to consistently break down barriers and advance the field is to promote creative ideas to problems that have been around for generations.
	.pillar.engineering.ml.mr
		.heading
			| Engineering
		.content
			| All of our products and services are highly engineered solutions by some of the brightest young engineers in the world. We demand reliable products that provide functionality that appears as if it was magic.
	.pillar.design.ml.mr
		.heading
			| Design
		.content
			| Design and Engineering go hand in hand when dealing with the development of products. We ensure highly user friendly products by working with highly talented industrial, graphic, and user experience designers.
	.pillar.service.ml
		.heading
			| Service
		.content
			| We wouldn’t be anywhere without our users. In the end, it all comes down to the service we provide to satisfy you. We wouldn’t be anywhere without our users. In the end, it all comes down to the service we provide to satisfy you. 