//- CSS includes
link(rel="stylesheet", href="styles/main.css")

//- Fonts
link(href='http://fonts.googleapis.com/css?family=Lato:300', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic', rel='stylesheet', type='text/css')

//- Client-side Javascript
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
script(type='text/javascript', src="js/smooth-scroll.js")
script(type='text/javascript', src="js/main.js")