.photos
	img(src="/resources/photos/michael.png")
	.member_desc
		.name Michael McCarty
		.position Co-Founder
.photos
	img(src="/resources/photos/matt.png")
	.member_desc
		.name Matthew Wesley
		.position Co-Founder
.photos
	img(src="/resources/photos/rishabh.png")
	.member_desc
		.name Rishabh Marya
		.position Co-Founder
.photos
	img(src="/resources/photos/shivam.png")
	.member_desc
		.name Shivam Gupta
		.position Co-Founder
.photos
	img(src="/resources/photos/jason.png")
	.member_desc
		.name Jason Su
		.position Co-Founder
.photos
	img(src="/resources/photos/lisa.png")
	.member_desc
		.name Lisa Vuong
		.position Co-Founder
.photos
	img(src="/resources/photos/rachit.png")	
	.member_desc
		.name Rachit Nandwani
		.position Co-Founder
.photos
	img(src="/resources/photos/nishant.png")
	.member_desc
		.name Nishant Nayudu
		.position Co-Founder
.photos
	img(src="/resources/photos/eleni.png")
	.member_desc
		.name Eleni Antoniadou
		.position Co-Founder
.photos
	img(src="/resources/photos/emily.png")
	.member_desc
		.name Emily Matijevich
		.position Co-Founder
.photos
	img(src="/resources/photos/joe.png")
	.member_desc
		.name Joe Caffari
		.position Co-Founder
.photos
	img(src="/resources/photos/pooja.png")
	.member_desc
		.name Pooja Bag
		.position Co-Founder
.photos
	img(src="/resources/photos/rachel.png")
	.member_desc
		.name Rachel Walker
		.position Co-Founder